# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
backend/staticfiles/
backend/media/

# Django
*.log

# Node
node_modules/
frontend/dist/

# Environment
.env

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
